In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv("/content/drive/MyDrive/framingham.csv")

In [ ]:
data

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4235,0,48,2.0,1,20.0,NaN,0,0,0,248.0,131.0,72.0,22.00,84.0,86.0,0
4236,0,44,1.0,1,15.0,0.0,0,0,0,210.0,126.5,87.0,19.16,86.0,NaN,0
4237,0,52,2.0,0,0.0,0.0,0,0,0,269.0,133.5,83.0,21.47,80.0,107.0,0
4238,1,40,3.0,0,0.0,0.0,0,1,0,185.0,141.0,98.0,25.60,67.0,72.0,0
4239,0,39,3.0,1,30.0,0.0,0,0,0,196.0,133.0,86.0,20.91,85.0,80.0,0

In [ ]:
import numpy as np

In [ ]:
boolean_mask_array = np.array(data.isnull())

In [ ]:
missing_values_column_indices = np.argwhere(np.count_nonzero(boolean_mask_array,axis=0))

In [ ]:
missing_values_column_indices = missing_values_column_indices.reshape(missing_values_column_indices.shape[0],)

In [ ]:
missing_values_column_indices

array([ 2,  4,  5,  9, 12, 13, 14])

In [ ]:
missing_values_columns = data.columns[missing_values_column_indices]

In [ ]:
missing_values_columns

Index(['education', 'cigsPerDay', 'BPMeds', 'totChol', 'BMI', 'heartRate',
       'glucose'],
      dtype='object')

In [ ]:
from sklearn.impute import SimpleImputer

In [ ]:
imp = SimpleImputer(missing_values=np.nan,strategy="most_frequent")

for col in ['education','BPMeds']:

  col_data = np.array(data[col])

  col_data = col_data.reshape(col_data.shape[0],1)

  data[col] = imp.fit_transform(col_data)

In [ ]:
data['education']

0       4.0
1       2.0
2       1.0
3       3.0
4       3.0
       ...
4235    2.0
4236    1.0
4237    2.0
4238    3.0
4239    3.0
Name: education, Length: 4240, dtype: float64

In [ ]:
data['BPMeds']

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
4235    0.0
4236    0.0
4237    0.0
4238    0.0
4239    0.0
Name: BPMeds, Length: 4240, dtype: float64

In [ ]:
imp = SimpleImputer(missing_values=np.nan,strategy="mean")

for col in ['cigsPerDay', 'totChol', 'BMI', 'heartRate','glucose']:

  col_data = np.array(data[col])

  col_data = col_data.reshape(col_data.shape[0],1)

  data[col] = imp.fit_transform(col_data)

In [ ]:
data

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.000000,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.000000,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.000000,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.000000,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4235,0,48,2.0,1,20.0,0.0,0,0,0,248.0,131.0,72.0,22.00,84.0,86.000000,0
4236,0,44,1.0,1,15.0,0.0,0,0,0,210.0,126.5,87.0,19.16,86.0,81.963655,0
4237,0,52,2.0,0,0.0,0.0,0,0,0,269.0,133.5,83.0,21.47,80.0,107.000000,0
4238,1,40,3.0,0,0.0,0.0,0,1,0,185.0,141.0,98.0,25.60,67.0,72.000000,0
4239,0,39,3.0,1,30.0,0.0,0,0,0,196.0,133.0,86.0,20.91,85.0,80.000000,0

In [ ]:
data.isnull().count()

male               4240
age                4240
education          4240
currentSmoker      4240
cigsPerDay         4240
BPMeds             4240
prevalentStroke    4240
prevalentHyp       4240
diabetes           4240
totChol            4240
sysBP              4240
diaBP              4240
BMI                4240
heartRate          4240
glucose            4240
TenYearCHD         4240
dtype: int64

In [ ]:
data.columns

Index(['male', 'age', 'education', 'currentSmoker', 'cigsPerDay', 'BPMeds',
       'prevalentStroke', 'prevalentHyp', 'diabetes', 'totChol', 'sysBP',
       'diaBP', 'BMI', 'heartRate', 'glucose', 'TenYearCHD'],
      dtype='object')

In [ ]:
for col in ['male', 'age', 'education', 'currentSmoker', 'BPMeds', 
            'prevalentStroke', 'prevalentHyp', 'diabetes']:

    data[col] = data[col].apply(lambda x: int(x))

In [ ]:
data

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4,0,0.0,0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.000000,0
1,0,46,2,0,0.0,0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.000000,0
2,1,48,1,1,20.0,0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.000000,0
3,0,61,3,1,30.0,0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.000000,1
4,0,46,3,1,23.0,0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4235,0,48,2,1,20.0,0,0,0,0,248.0,131.0,72.0,22.00,84.0,86.000000,0
4236,0,44,1,1,15.0,0,0,0,0,210.0,126.5,87.0,19.16,86.0,81.963655,0
4237,0,52,2,0,0.0,0,0,0,0,269.0,133.5,83.0,21.47,80.0,107.000000,0
4238,1,40,3,0,0.0,0,0,1,0,185.0,141.0,98.0,25.60,67.0,72.000000,0
4239,0,39,3,1,30.0,0,0,0,0,196.0,133.0,86.0,20.91,85.0,80.000000,0

In [ ]:
no_chd_data = data[data['TenYearCHD'] == 0]

In [ ]:
chd_data = data[data['TenYearCHD'] == 1]

In [ ]:
no_chd_data.shape

(3596, 16)

In [ ]:
chd_data.shape

(644, 16)

In [ ]:
!pip install imbalanced-learn

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: imbalanced-learn in /usr/local/lib/python3.7/dist-packages (0.8.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from imbalanced-learn) (1.1.0)
Requirement already satisfied: scipy>=0.19.1 in /usr/local/lib/python3.7/dist-packages (from imbalanced-learn) (1.7.3)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.7/dist-packages (from imbalanced-learn) (1.21.6)
Requirement already satisfied: scikit-learn>=0.24 in /usr/local/lib/python3.7/dist-packages (from imbalanced-learn) (1.0.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.24->imbalanced-learn) (3.1.0)

In [ ]:
from imblearn.over_sampling import SMOTE

In [ ]:
data_X = data.iloc[:,0:15]

data_Y = data.iloc[:,15]

In [ ]:
data_X

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose
0,1,39,4,0,0.0,0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.000000
1,0,46,2,0,0.0,0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.000000
2,1,48,1,1,20.0,0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.000000
3,0,61,3,1,30.0,0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.000000
4,0,46,3,1,23.0,0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4235,0,48,2,1,20.0,0,0,0,0,248.0,131.0,72.0,22.00,84.0,86.000000
4236,0,44,1,1,15.0,0,0,0,0,210.0,126.5,87.0,19.16,86.0,81.963655
4237,0,52,2,0,0.0,0,0,0,0,269.0,133.5,83.0,21.47,80.0,107.000000
4238,1,40,3,0,0.0,0,0,1,0,185.0,141.0,98.0,25.60,67.0,72.000000
4239,0,39,3,1,30.0,0,0,0,0,196.0,133.0,86.0,20.91,85.0,80.000000

In [ ]:
data_Y

0       0
1       0
2       0
3       1
4       0
       ..
4235    0
4236    0
4237    0
4238    0
4239    0
Name: TenYearCHD, Length: 4240, dtype: int64

In [ ]:
smote_obj = SMOTE(random_state=42)

data_X, data_Y = smote_obj.fit_resample(data_X,data_Y)

In [ ]:
data_X

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose
0,1,39,4,0,0.000000,0,0,0,0,195.000000,106.000000,70.000000,26.970000,80.000000,77.000000
1,0,46,2,0,0.000000,0,0,0,0,250.000000,121.000000,81.000000,28.730000,95.000000,76.000000
2,1,48,1,1,20.000000,0,0,0,0,245.000000,127.500000,80.000000,25.340000,75.000000,70.000000
3,0,61,3,1,30.000000,0,0,1,0,225.000000,150.000000,95.000000,28.580000,65.000000,103.000000
4,0,46,3,1,23.000000,0,0,0,0,285.000000,130.000000,84.000000,23.100000,85.000000,85.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7187,1,48,3,1,13.087533,0,0,0,0,183.456233,126.852520,87.161273,28.735305,58.778780,76.013793
7188,0,58,1,0,0.000000,0,0,1,0,283.827034,195.324335,74.681065,26.277063,71.686464,79.005399
7189,1,39,3,1,16.551542,0,0,0,0,233.241234,118.723702,76.068548,30.499278,86.896915,98.173213
7190,0,56,1,0,0.000000,0,0,0,0,243.013381,118.489965,74.510035,25.209634,62.516726,81.959858
7191,0,57,2,0,0.000000,0,0,1,0,286.539490,190.088986,110.044493,26.177230,83.221357,83.796441

In [ ]:
data = pd.concat((data_X,data_Y),axis=1)

In [ ]:
data

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4,0,0.000000,0,0,0,0,195.000000,106.000000,70.000000,26.970000,80.000000,77.000000,0
1,0,46,2,0,0.000000,0,0,0,0,250.000000,121.000000,81.000000,28.730000,95.000000,76.000000,0
2,1,48,1,1,20.000000,0,0,0,0,245.000000,127.500000,80.000000,25.340000,75.000000,70.000000,0
3,0,61,3,1,30.000000,0,0,1,0,225.000000,150.000000,95.000000,28.580000,65.000000,103.000000,1
4,0,46,3,1,23.000000,0,0,0,0,285.000000,130.000000,84.000000,23.100000,85.000000,85.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7187,1,48,3,1,13.087533,0,0,0,0,183.456233,126.852520,87.161273,28.735305,58.778780,76.013793,1
7188,0,58,1,0,0.000000,0,0,1,0,283.827034,195.324335,74.681065,26.277063,71.686464,79.005399,1
7189,1,39,3,1,16.551542,0,0,0,0,233.241234,118.723702,76.068548,30.499278,86.896915,98.173213,1
7190,0,56,1,0,0.000000,0,0,0,0,243.013381,118.489965,74.510035,25.209634,62.516726,81.959858,1
7191,0,57,2,0,0.000000,0,0,1,0,286.539490,190.088986,110.044493,26.177230,83.221357,83.796441,1

In [ ]:
no_chd_data = data[data['TenYearCHD'] == 0]

In [ ]:
chd_data = data[data['TenYearCHD'] == 1]

In [ ]:
no_chd_data.shape

(3596, 16)

In [ ]:
chd_data.shape

(3596, 16)

In [ ]:
training_data_len = int(0.8 * len(data))

In [ ]:
training_data_len

5753

In [ ]:
no_chd_training_data = no_chd_data.iloc[0:int(training_data_len//2),:]

chd_training_data = chd_data.iloc[0:int(training_data_len//2),:]

no_chd_cv_data = no_chd_data.iloc[int(training_data_len)//2:,:]

chd_cv_data = chd_data.iloc[int(training_data_len)//2:,:]

In [ ]:
no_chd_cv_data

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
3393,1,62,1,0,0.0,0,0,0,0,157.0,130.0,87.0,28.73,72.0,47.000000,0
3394,0,57,4,1,9.0,0,0,0,0,382.0,140.0,94.0,21.20,98.0,70.000000,0
3395,1,39,1,1,20.0,0,0,0,0,228.0,122.5,87.0,31.60,100.0,73.000000,0
3396,1,46,2,1,20.0,0,0,0,0,179.0,111.0,80.0,20.87,72.0,76.000000,0
3397,1,49,1,1,20.0,0,0,1,0,270.0,160.5,106.5,30.33,75.0,65.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4235,0,48,2,1,20.0,0,0,0,0,248.0,131.0,72.0,22.00,84.0,86.000000,0
4236,0,44,1,1,15.0,0,0,0,0,210.0,126.5,87.0,19.16,86.0,81.963655,0
4237,0,52,2,0,0.0,0,0,0,0,269.0,133.5,83.0,21.47,80.0,107.000000,0
4238,1,40,3,0,0.0,0,0,1,0,185.0,141.0,98.0,25.60,67.0,72.000000,0
4239,0,39,3,1,30.0,0,0,0,0,196.0,133.0,86.0,20.91,85.0,80.000000,0

In [ ]:
chd_cv_data

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
6472,0,46,1,1,30.000000,0,0,0,0,192.496936,141.499164,90.501950,22.580958,92.504178,72.996658,1
6473,1,44,1,1,15.346970,0,0,1,0,231.861212,140.965303,102.959089,27.099648,74.375453,81.827389,1
6474,1,48,2,0,18.202463,0,0,0,1,300.493843,137.539741,90.618263,27.481695,69.078522,337.572365,1
6475,0,55,1,0,7.981760,0,0,1,0,268.610032,139.399088,96.004560,26.242439,109.201824,76.577287,1
6476,1,56,1,1,26.590414,0,0,1,0,274.567539,174.203704,107.965686,26.721917,80.114379,80.977124,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7187,1,48,3,1,13.087533,0,0,0,0,183.456233,126.852520,87.161273,28.735305,58.778780,76.013793,1
7188,0,58,1,0,0.000000,0,0,1,0,283.827034,195.324335,74.681065,26.277063,71.686464,79.005399,1
7189,1,39,3,1,16.551542,0,0,0,0,233.241234,118.723702,76.068548,30.499278,86.896915,98.173213,1
7190,0,56,1,0,0.000000,0,0,0,0,243.013381,118.489965,74.510035,25.209634,62.516726,81.959858,1
7191,0,57,2,0,0.000000,0,0,1,0,286.539490,190.088986,110.044493,26.177230,83.221357,83.796441,1

In [ ]:
cv_data = pd.concat((no_chd_cv_data,chd_cv_data))

In [ ]:
cv_data

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
3393,1,62,1,0,0.000000,0,0,0,0,157.000000,130.000000,87.000000,28.730000,72.000000,47.000000,0
3394,0,57,4,1,9.000000,0,0,0,0,382.000000,140.000000,94.000000,21.200000,98.000000,70.000000,0
3395,1,39,1,1,20.000000,0,0,0,0,228.000000,122.500000,87.000000,31.600000,100.000000,73.000000,0
3396,1,46,2,1,20.000000,0,0,0,0,179.000000,111.000000,80.000000,20.870000,72.000000,76.000000,0
3397,1,49,1,1,20.000000,0,0,1,0,270.000000,160.500000,106.500000,30.330000,75.000000,65.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7187,1,48,3,1,13.087533,0,0,0,0,183.456233,126.852520,87.161273,28.735305,58.778780,76.013793,1
7188,0,58,1,0,0.000000,0,0,1,0,283.827034,195.324335,74.681065,26.277063,71.686464,79.005399,1
7189,1,39,3,1,16.551542,0,0,0,0,233.241234,118.723702,76.068548,30.499278,86.896915,98.173213,1
7190,0,56,1,0,0.000000,0,0,0,0,243.013381,118.489965,74.510035,25.209634,62.516726,81.959858,1
7191,0,57,2,0,0.000000,0,0,1,0,286.539490,190.088986,110.044493,26.177230,83.221357,83.796441,1

In [ ]:
data.columns

Index(['male', 'age', 'education', 'currentSmoker', 'cigsPerDay', 'BPMeds',
       'prevalentStroke', 'prevalentHyp', 'diabetes', 'totChol', 'sysBP',
       'diaBP', 'BMI', 'heartRate', 'glucose', 'TenYearCHD'],
      dtype='object')

In [ ]:
params_mle_no_chd = dict()

In [ ]:
params_mle_chd = dict()

In [ ]:
for col in ['male', 'age', 'education', 'currentSmoker', 'BPMeds',
            'prevalentStroke', 'prevalentHyp', 'diabetes']:

    params_mle_no_chd[col] = None
    params_mle_chd[col] = None

In [ ]:
params_mle_no_chd

{'male': None,
 'age': None,
 'education': None,
 'currentSmoker': None,
 'BPMeds': None,
 'prevalentStroke': None,
 'prevalentHyp': None,
 'diabetes': None}

In [ ]:
params_mle_chd

{'male': None,
 'age': None,
 'education': None,
 'currentSmoker': None,
 'BPMeds': None,
 'prevalentStroke': None,
 'prevalentHyp': None,
 'diabetes': None}

In [ ]:
for col in ['male', 'currentSmoker', 'BPMeds',
            'prevalentStroke', 'prevalentHyp', 'diabetes']:

    p_hat_no_chd = len(no_chd_training_data[no_chd_training_data[col] == 1])/len(no_chd_training_data)
    q_hat_no_chd = len(no_chd_training_data[no_chd_training_data[col] == 0])/len(no_chd_training_data)

    p_hat_chd = len(chd_training_data[chd_training_data[col] == 1])/len(chd_training_data)
    q_hat_chd = len(chd_training_data[chd_training_data[col] == 0])/len(chd_training_data)

    params_mle_no_chd[col] = {0:q_hat_no_chd,1:p_hat_no_chd}
    params_mle_chd[col] = {0:q_hat_chd,1:p_hat_chd}

In [ ]:
params_mle_no_chd

{'male': {0: 0.5917941585535466, 1: 0.4082058414464534},
 'age': None,
 'education': None,
 'currentSmoker': {0: 0.5118219749652295, 1: 0.48817802503477054},
 'BPMeds': {0: 0.9760083449235049, 1: 0.023991655076495134},
 'prevalentStroke': {0: 0.9968706536856745, 1: 0.003129346314325452},
 'prevalentHyp': {0: 0.7298331015299027, 1: 0.27016689847009734},
 'diabetes': {0: 0.9833101529902643, 1: 0.016689847009735744}}

In [ ]:
params_mle_chd

{'male': {0: 0.6310848400556328, 1: 0.3689151599443672},
 'age': None,
 'education': None,
 'currentSmoker': {0: 0.5726703755215578, 1: 0.4273296244784423},
 'BPMeds': {0: 0.9822670375521557, 1: 0.01773296244784423},
 'prevalentStroke': {0: 0.9961752433936022, 1: 0.0038247566063977748},
 'prevalentHyp': {0: 0.6074408901251739, 1: 0.3925591098748262},
 'diabetes': {0: 0.9572322670375522, 1: 0.042767732962447846}}

In [ ]:
data['age'].unique()

array([39, 46, 48, 61, 43, 63, 45, 52, 50, 41, 38, 42, 44, 47, 60, 35, 36,
       59, 54, 37, 56, 53, 49, 65, 51, 62, 40, 67, 57, 66, 64, 55, 58, 34,
       68, 33, 70, 32, 69])

In [ ]:
params_mle_no_chd['age'] = dict()
params_mle_chd['age'] = dict()

In [ ]:
for age in data['age'].unique():

  if len(no_chd_training_data[no_chd_training_data['age'] == age]) == 0:
    params_mle_no_chd['age'][age] = 1/(len(no_chd_training_data) + len(data['age'].unique()))
  else:
    params_mle_no_chd['age'][age] = len(no_chd_training_data[no_chd_training_data['age'] == age])/len(no_chd_training_data)

  if len(chd_training_data[chd_training_data['age'] == age]) == 0:
    params_mle_chd['age'][age] = 1/(len(chd_training_data) + len(data['age'].unique()))
  else:
    params_mle_chd['age'][age] = len(chd_training_data[chd_training_data['age'] == age])/len(chd_training_data)

In [ ]:
params_mle_no_chd

{'male': {0: 0.5917941585535466, 1: 0.4082058414464534},
 'age': {39: 0.0458970792767733,
  46: 0.04415855354659249,
  48: 0.04172461752433936,
  61: 0.02329624478442281,
  43: 0.03894297635605007,
  63: 0.022253129346314324,
  45: 0.042767732962447846,
  52: 0.03129346314325452,
  50: 0.03372739916550765,
  41: 0.04728789986091794,
  38: 0.03650904033379694,
  42: 0.04728789986091794,
  44: 0.04102920723226704,
  47: 0.03442280945757997,
  60: 0.024339360222531293,
  35: 0.010778859527121001,
  36: 0.023991655076495134,
  59: 0.024687065368567455,
  54: 0.032336578581363004,
  37: 0.023991655076495134,
  56: 0.025034770514603615,
  53: 0.03268428372739916,
  49: 0.029902642559109873,
  65: 0.009388038942976356,
  51: 0.03268428372739916,
  62: 0.019819193324061197,
  40: 0.04798331015299027,
  67: 0.008344923504867872,
  57: 0.028164116828929067,
  66: 0.006954102920723227,
  64: 0.021905424200278165,
  55: 0.032336578581363004,
  58: 0.023991655076495134,
  34: 0.004172461752433936,
  68: 0.0024339360222531293,
  33: 0.0017385257301808068,
  70: 0.0003477051460361613,
  32: 0.0003477051460361613,
  69: 0.001043115438108484},
 'education': None,
 'currentSmoker': {0: 0.5118219749652295, 1: 0.48817802503477054},
 'BPMeds': {0: 0.9760083449235049, 1: 0.023991655076495134},
 'prevalentStroke': {0: 0.9968706536856745, 1: 0.003129346314325452},
 'prevalentHyp': {0: 0.7298331015299027, 1: 0.27016689847009734},
 'diabetes': {0: 0.9833101529902643, 1: 0.016689847009735744}}

In [ ]:
params_mle_chd

{'male': {0: 0.6310848400556328, 1: 0.3689151599443672},
 'age': {39: 0.009388038942976356,
  46: 0.030250347705146036,
  48: 0.03477051460361613,
  61: 0.04450625869262865,
  43: 0.02051460361613352,
  63: 0.04172461752433936,
  45: 0.024339360222531293,
  52: 0.05180806675938804,
  50: 0.043463143254520165,
  41: 0.015994436717663423,
  38: 0.006606397774687065,
  42: 0.020166898470097356,
  44: 0.022600834492350487,
  47: 0.03129346314325452,
  60: 0.034075104311543813,
  35: 0.0024339360222531293,
  36: 0.0034770514603616135,
  59: 0.043115438108484005,
  54: 0.04381084840055633,
  37: 0.004172461752433936,
  56: 0.0521557719054242,
  53: 0.04659248956884562,
  49: 0.0458970792767733,
  65: 0.021557719054242003,
  51: 0.0521557719054242,
  62: 0.03650904033379694,
  40: 0.019819193324061197,
  67: 0.010778859527121001,
  57: 0.0458970792767733,
  66: 0.01321279554937413,
  64: 0.029554937413073714,
  55: 0.04207232267037552,
  58: 0.04972183588317107,
  34: 0.00034305317324185246,
  68: 0.004520166898470098,
  33: 0.00034305317324185246,
  70: 0.0003477051460361613,
  32: 0.00034305317324185246,
  69: 0.0006954102920723226},
 'education': None,
 'currentSmoker': {0: 0.5726703755215578, 1: 0.4273296244784423},
 'BPMeds': {0: 0.9822670375521557, 1: 0.01773296244784423},
 'prevalentStroke': {0: 0.9961752433936022, 1: 0.0038247566063977748},
 'prevalentHyp': {0: 0.6074408901251739, 1: 0.3925591098748262},
 'diabetes': {0: 0.9572322670375522, 1: 0.042767732962447846}}

In [ ]:
params_mle_no_chd['education'] = dict()
params_mle_chd['education'] = dict()

In [ ]:
for edu in data['education'].unique():

  if len(no_chd_training_data[no_chd_training_data['education'] == edu]) == 0:
    params_mle_no_chd['education'][edu] = 1/(len(no_chd_training_data) + len(data['education'].unique()))
  else:
    params_mle_no_chd['education'][edu] = len(no_chd_training_data[no_chd_training_data['education'] == edu])/len(no_chd_training_data)

  if len(chd_training_data[chd_training_data['education'] == edu]) == 0:
    params_mle_chd['education'][edu] = 1/(len(chd_training_data) + len(data['education'].unique()))
  else:
    params_mle_chd['education'][edu] = len(chd_training_data[chd_training_data['education'] == edu])/len(chd_training_data)

In [ ]:
params_mle_no_chd

{'male': {0: 0.5917941585535466, 1: 0.4082058414464534},
 'age': {39: 0.0458970792767733,
  46: 0.04415855354659249,
  48: 0.04172461752433936,
  61: 0.02329624478442281,
  43: 0.03894297635605007,
  63: 0.022253129346314324,
  45: 0.042767732962447846,
  52: 0.03129346314325452,
  50: 0.03372739916550765,
  41: 0.04728789986091794,
  38: 0.03650904033379694,
  42: 0.04728789986091794,
  44: 0.04102920723226704,
  47: 0.03442280945757997,
  60: 0.024339360222531293,
  35: 0.010778859527121001,
  36: 0.023991655076495134,
  59: 0.024687065368567455,
  54: 0.032336578581363004,
  37: 0.023991655076495134,
  56: 0.025034770514603615,
  53: 0.03268428372739916,
  49: 0.029902642559109873,
  65: 0.009388038942976356,
  51: 0.03268428372739916,
  62: 0.019819193324061197,
  40: 0.04798331015299027,
  67: 0.008344923504867872,
  57: 0.028164116828929067,
  66: 0.006954102920723227,
  64: 0.021905424200278165,
  55: 0.032336578581363004,
  58: 0.023991655076495134,
  34: 0.004172461752433936,
  68: 0.0024339360222531293,
  33: 0.0017385257301808068,
  70: 0.0003477051460361613,
  32: 0.0003477051460361613,
  69: 0.001043115438108484},
 'education': {4: 0.11161335187760779,
  2: 0.30737134909596664,
  1: 0.41481223922114047,
  3: 0.16620305980528513},
 'currentSmoker': {0: 0.5118219749652295, 1: 0.48817802503477054},
 'BPMeds': {0: 0.9760083449235049, 1: 0.023991655076495134},
 'prevalentStroke': {0: 0.9968706536856745, 1: 0.003129346314325452},
 'prevalentHyp': {0: 0.7298331015299027, 1: 0.27016689847009734},
 'diabetes': {0: 0.9833101529902643, 1: 0.016689847009735744}}

In [ ]:
params_mle_chd

{'male': {0: 0.6310848400556328, 1: 0.3689151599443672},
 'age': {39: 0.009388038942976356,
  46: 0.030250347705146036,
  48: 0.03477051460361613,
  61: 0.04450625869262865,
  43: 0.02051460361613352,
  63: 0.04172461752433936,
  45: 0.024339360222531293,
  52: 0.05180806675938804,
  50: 0.043463143254520165,
  41: 0.015994436717663423,
  38: 0.006606397774687065,
  42: 0.020166898470097356,
  44: 0.022600834492350487,
  47: 0.03129346314325452,
  60: 0.034075104311543813,
  35: 0.0024339360222531293,
  36: 0.0034770514603616135,
  59: 0.043115438108484005,
  54: 0.04381084840055633,
  37: 0.004172461752433936,
  56: 0.0521557719054242,
  53: 0.04659248956884562,
  49: 0.0458970792767733,
  65: 0.021557719054242003,
  51: 0.0521557719054242,
  62: 0.03650904033379694,
  40: 0.019819193324061197,
  67: 0.010778859527121001,
  57: 0.0458970792767733,
  66: 0.01321279554937413,
  64: 0.029554937413073714,
  55: 0.04207232267037552,
  58: 0.04972183588317107,
  34: 0.00034305317324185246,
  68: 0.004520166898470098,
  33: 0.00034305317324185246,
  70: 0.0003477051460361613,
  32: 0.00034305317324185246,
  69: 0.0006954102920723226},
 'education': {4: 0.035813630041724616,
  2: 0.2402642559109875,
  1: 0.6004867872044506,
  3: 0.12343532684283727},
 'currentSmoker': {0: 0.5726703755215578, 1: 0.4273296244784423},
 'BPMeds': {0: 0.9822670375521557, 1: 0.01773296244784423},
 'prevalentStroke': {0: 0.9961752433936022, 1: 0.0038247566063977748},
 'prevalentHyp': {0: 0.6074408901251739, 1: 0.3925591098748262},
 'diabetes': {0: 0.9572322670375522, 1: 0.042767732962447846}}

In [ ]:
params_mle_no_chd['cigsPerDay'] = no_chd_training_data['cigsPerDay'].mean()
params_mle_chd['cigsPerDay'] = chd_training_data['cigsPerDay'].mean()

In [ ]:
params_mle_no_chd

{'male': {0: 0.5917941585535466, 1: 0.4082058414464534},
 'age': {39: 0.0458970792767733,
  46: 0.04415855354659249,
  48: 0.04172461752433936,
  61: 0.02329624478442281,
  43: 0.03894297635605007,
  63: 0.022253129346314324,
  45: 0.042767732962447846,
  52: 0.03129346314325452,
  50: 0.03372739916550765,
  41: 0.04728789986091794,
  38: 0.03650904033379694,
  42: 0.04728789986091794,
  44: 0.04102920723226704,
  47: 0.03442280945757997,
  60: 0.024339360222531293,
  35: 0.010778859527121001,
  36: 0.023991655076495134,
  59: 0.024687065368567455,
  54: 0.032336578581363004,
  37: 0.023991655076495134,
  56: 0.025034770514603615,
  53: 0.03268428372739916,
  49: 0.029902642559109873,
  65: 0.009388038942976356,
  51: 0.03268428372739916,
  62: 0.019819193324061197,
  40: 0.04798331015299027,
  67: 0.008344923504867872,
  57: 0.028164116828929067,
  66: 0.006954102920723227,
  64: 0.021905424200278165,
  55: 0.032336578581363004,
  58: 0.023991655076495134,
  34: 0.004172461752433936,
  68: 0.0024339360222531293,
  33: 0.0017385257301808068,
  70: 0.0003477051460361613,
  32: 0.0003477051460361613,
  69: 0.001043115438108484},
 'education': {4: 0.11161335187760779,
  2: 0.30737134909596664,
  1: 0.41481223922114047,
  3: 0.16620305980528513},
 'currentSmoker': {0: 0.5118219749652295, 1: 0.48817802503477054},
 'BPMeds': {0: 0.9760083449235049, 1: 0.023991655076495134},
 'prevalentStroke': {0: 0.9968706536856745, 1: 0.003129346314325452},
 'prevalentHyp': {0: 0.7298331015299027, 1: 0.27016689847009734},
 'diabetes': {0: 0.9833101529902643, 1: 0.016689847009735744},
 'cigsPerDay': 8.610613586048064}

In [ ]:
params_mle_chd

{'male': {0: 0.6310848400556328, 1: 0.3689151599443672},
 'age': {39: 0.009388038942976356,
  46: 0.030250347705146036,
  48: 0.03477051460361613,
  61: 0.04450625869262865,
  43: 0.02051460361613352,
  63: 0.04172461752433936,
  45: 0.024339360222531293,
  52: 0.05180806675938804,
  50: 0.043463143254520165,
  41: 0.015994436717663423,
  38: 0.006606397774687065,
  42: 0.020166898470097356,
  44: 0.022600834492350487,
  47: 0.03129346314325452,
  60: 0.034075104311543813,
  35: 0.0024339360222531293,
  36: 0.0034770514603616135,
  59: 0.043115438108484005,
  54: 0.04381084840055633,
  37: 0.004172461752433936,
  56: 0.0521557719054242,
  53: 0.04659248956884562,
  49: 0.0458970792767733,
  65: 0.021557719054242003,
  51: 0.0521557719054242,
  62: 0.03650904033379694,
  40: 0.019819193324061197,
  67: 0.010778859527121001,
  57: 0.0458970792767733,
  66: 0.01321279554937413,
  64: 0.029554937413073714,
  55: 0.04207232267037552,
  58: 0.04972183588317107,
  34: 0.00034305317324185246,
  68: 0.004520166898470098,
  33: 0.00034305317324185246,
  70: 0.0003477051460361613,
  32: 0.00034305317324185246,
  69: 0.0006954102920723226},
 'education': {4: 0.035813630041724616,
  2: 0.2402642559109875,
  1: 0.6004867872044506,
  3: 0.12343532684283727},
 'currentSmoker': {0: 0.5726703755215578, 1: 0.4273296244784423},
 'BPMeds': {0: 0.9822670375521557, 1: 0.01773296244784423},
 'prevalentStroke': {0: 0.9961752433936022, 1: 0.0038247566063977748},
 'prevalentHyp': {0: 0.6074408901251739, 1: 0.3925591098748262},
 'diabetes': {0: 0.9572322670375522, 1: 0.042767732962447846},
 'cigsPerDay': 10.403641571320366}

In [ ]:
data.columns

Index(['male', 'age', 'education', 'currentSmoker', 'cigsPerDay', 'BPMeds',
       'prevalentStroke', 'prevalentHyp', 'diabetes', 'totChol', 'sysBP',
       'diaBP', 'BMI', 'heartRate', 'glucose', 'TenYearCHD'],
      dtype='object')

In [ ]:
no_chd_training_data.iloc[:,9:15]

      totChol  sysBP  diaBP    BMI  heartRate  glucose
0       195.0  106.0   70.0  26.97       80.0     77.0
1       250.0  121.0   81.0  28.73       95.0     76.0
2       245.0  127.5   80.0  25.34       75.0     70.0
4       285.0  130.0   84.0  23.10       85.0     85.0
5       228.0  180.0  110.0  30.30       77.0     99.0
...       ...    ...    ...    ...        ...      ...
3388    163.0  138.0   80.0  31.08       70.0     70.0
3389    265.0  110.0   65.0  24.45       69.0     70.0
3390    178.0  113.0   78.0  31.93       64.0     74.0
3391    217.0  182.0   86.0  26.98      105.0    113.0
3392    214.0  121.0   84.0  24.68       80.0     74.0

[2876 rows x 6 columns]

In [ ]:
chd_training_data.iloc[:,9:15]

         totChol       sysBP       diaBP        BMI   heartRate     glucose
3     225.000000  150.000000   95.000000  28.580000   65.000000  103.000000
6     205.000000  138.000000   71.000000  33.110000   60.000000   85.000000
15    221.000000  140.000000   90.000000  21.350000   95.000000   70.000000
17    291.000000  112.000000   78.000000  23.380000   80.000000   89.000000
25    294.000000  102.000000   68.000000  24.180000   62.000000   66.000000
...          ...         ...         ...        ...         ...         ...
6467  241.451065  119.861211   72.930605  23.819679   60.520459   88.346973
6468  263.285830  197.756454  123.714372  29.774771   68.000000  256.907502
6469  199.767310  134.657694   97.342306  27.827135   76.096157   88.228706
6470  316.691386  107.768812   76.018540  24.238800  102.307525   68.307525
6471  430.728746  158.169697   95.740753  24.834244   86.661909   86.097989

[2876 rows x 6 columns]

In [ ]:
params_mle_no_chd["mean_vector"] = np.array(no_chd_training_data.iloc[:,9:15].mean())

In [ ]:
params_mle_no_chd["mean_vector"]

array([235.70169828, 130.15629346,  82.12882476,  25.68068401,
        75.50764951,  80.52887397])

In [ ]:
params_mle_no_chd["covariance_matrix"] = np.array(no_chd_training_data.iloc[:,9:15].cov())

In [ ]:
params_mle_no_chd["covariance_matrix"]

array([[1901.04668877,  181.93886857,   77.25775686,   19.07696841,
          52.29286093,    8.90614929],
       [ 181.93886857,  413.83791168,  177.94394549,   25.99097603,
          44.85210836,   28.75794234],
       [  77.25775686,  177.94394549,  125.59357232,   16.92324839,
          22.28153595,    7.97424471],
       [  19.07696841,   25.99097603,   16.92324839,   15.67147297,
           2.86106774,    4.73064658],
       [  52.29286093,   44.85210836,   22.28153595,    2.86106774,
         142.62150668,   17.18389842],
       [   8.90614929,   28.75794234,    7.97424471,    4.73064658,
          17.18389842,  254.62924828]])

In [ ]:
params_mle_chd["mean_vector"] = np.array(chd_training_data.iloc[:,9:15].mean())

params_mle_chd["covariance_matrix"] = np.array(chd_training_data.iloc[:,9:15].cov())

In [ ]:
params_mle_chd["mean_vector"]

array([243.97929787, 142.69935114,  87.00347182,  26.49253122,
        76.52824847,  88.04143721])

In [ ]:
params_mle_chd["covariance_matrix"]

array([[2060.49964644,  141.98100731,   48.00781638,   12.23521609,
          44.53505844,  196.1988046 ],
       [ 141.98100731,  615.27400805,  256.82767453,   29.62232287,
          39.37687884,  141.43366379],
       [  48.00781638,  256.82767453,  166.26241642,   17.45472195,
          22.62303483,   26.51117382],
       [  12.23521609,   29.62232287,   17.45472195,   15.15211109,
           4.76464087,   18.89637357],
       [  44.53505844,   39.37687884,   22.62303483,    4.76464087,
         122.73759569,   39.05800316],
       [ 196.1988046 ,  141.43366379,   26.51117382,   18.89637357,
          39.05800316, 1490.6680706 ]])

In [ ]:
np.linalg.det(params_mle_chd["covariance_matrix"])

162712080508921.6

In [ ]:
data.columns

Index(['male', 'age', 'education', 'currentSmoker', 'cigsPerDay', 'BPMeds',
       'prevalentStroke', 'prevalentHyp', 'diabetes', 'totChol', 'sysBP',
       'diaBP', 'BMI', 'heartRate', 'glucose', 'TenYearCHD'],
      dtype='object')

In [ ]:
import scipy.stats as s

In [ ]:
def compute_no_chd_likelihood(all_feature_values):

  joint_probability_no_chd = 1

  for feature_value_idx in range(0,4):

    joint_probability_no_chd = joint_probability_no_chd * params_mle_no_chd[data.columns[feature_value_idx]][all_feature_values[feature_value_idx]]

  joint_probability_no_chd = joint_probability_no_chd * s.poisson.pmf(all_feature_values[4],params_mle_no_chd[data.columns[4]])

  for feature_value_idx in range(5,9):

    joint_probability_no_chd = joint_probability_no_chd * params_mle_no_chd[data.columns[feature_value_idx]][all_feature_values[feature_value_idx]]

  remaining_feature_values = all_feature_values[9:]

  joint_probability_no_chd = joint_probability_no_chd * s.multivariate_normal.pdf(remaining_feature_values,
                                                                                  params_mle_no_chd["mean_vector"],
                                                                                  params_mle_no_chd["covariance_matrix"])
  
  return joint_probability_no_chd

In [ ]:
def compute_chd_likelihood(all_feature_values):

  joint_probability_chd = 1

  for feature_value_idx in range(0,4):

    joint_probability_chd = joint_probability_chd * params_mle_chd[data.columns[feature_value_idx]][all_feature_values[feature_value_idx]]

  joint_probability_chd = joint_probability_chd * s.poisson.pmf(all_feature_values[4],params_mle_chd[data.columns[4]])

  for feature_value_idx in range(5,9):

    joint_probability_chd = joint_probability_chd * params_mle_chd[data.columns[feature_value_idx]][all_feature_values[feature_value_idx]]

  remaining_feature_values = all_feature_values[9:]

  joint_probability_chd = joint_probability_chd * s.multivariate_normal.pdf(remaining_feature_values,
                                                                                  params_mle_chd["mean_vector"],
                                                                                  params_mle_chd["covariance_matrix"])
  
  return joint_probability_chd

In [ ]:
cv_data

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
3393,1,62,1,0,0.000000,0,0,0,0,157.000000,130.000000,87.000000,28.730000,72.000000,47.000000,0
3394,0,57,4,1,9.000000,0,0,0,0,382.000000,140.000000,94.000000,21.200000,98.000000,70.000000,0
3395,1,39,1,1,20.000000,0,0,0,0,228.000000,122.500000,87.000000,31.600000,100.000000,73.000000,0
3396,1,46,2,1,20.000000,0,0,0,0,179.000000,111.000000,80.000000,20.870000,72.000000,76.000000,0
3397,1,49,1,1,20.000000,0,0,1,0,270.000000,160.500000,106.500000,30.330000,75.000000,65.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7187,1,48,3,1,13.087533,0,0,0,0,183.456233,126.852520,87.161273,28.735305,58.778780,76.013793,1
7188,0,58,1,0,0.000000,0,0,1,0,283.827034,195.324335,74.681065,26.277063,71.686464,79.005399,1
7189,1,39,3,1,16.551542,0,0,0,0,233.241234,118.723702,76.068548,30.499278,86.896915,98.173213,1
7190,0,56,1,0,0.000000,0,0,0,0,243.013381,118.489965,74.510035,25.209634,62.516726,81.959858,1
7191,0,57,2,0,0.000000,0,0,1,0,286.539490,190.088986,110.044493,26.177230,83.221357,83.796441,1

In [ ]:
cv_data = np.array(cv_data)

In [ ]:
gt_cv_labels = cv_data[:,15]

In [ ]:
gt_cv_labels

array([0., 0., 0., ..., 1., 1., 1.])

In [ ]:
cv_data = cv_data[:,0:15]

In [ ]:
cv_data.shape

(1440, 15)

In [ ]:
predicted_cv_labels = list()

for i in range(0,cv_data.shape[0]):

  P_X_on_CHD = compute_chd_likelihood(cv_data[i,:])

  P_X_on_NoCHD = compute_no_chd_likelihood(cv_data[i,:])

  P_CHD_on_X = P_X_on_CHD/(P_X_on_CHD + P_X_on_NoCHD)

  if P_CHD_on_X > 0.5:

    predicted_cv_labels.append(1)

  else:

    predicted_cv_labels.append(0)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: RuntimeWarning: invalid value encountered in double_scalars
  if __name__ == '__main__':

In [ ]:
predicted_cv_labels = np.array(predicted_cv_labels)

In [ ]:
from sklearn.metrics import classification_report

In [ ]:
print(classification_report(y_true=gt_cv_labels,y_pred=predicted_cv_labels))

              precision    recall  f1-score   support

         0.0       0.47      0.72      0.57       720
         1.0       0.41      0.19      0.26       720

    accuracy                           0.46      1440
   macro avg       0.44      0.46      0.41      1440
weighted avg       0.44      0.46      0.41      1440